<div class="content">
    <h1 class="title">Desenvolvedor<span>.NET</span></h1>
    <div class="description">
        <a>Meu nome é Ismael Gabri, sou desenvolvedor web com foco no
           back-end. Sou apaixonado por números, programação e resolução de problemas, venho
           me desenvolvendo desde 2019, durante
           esses anos desenvolvi diversas API's e aplicações ultilizando principalmente C#, .NET, SQL server e ASP.NET.
           <br>
           <br>
           <br>
           Atualmente meu foco é desenvolver trabalhos no back-end do produto, mas isso não impediu que eu explorasse mais o front-end,
           por conta disso, possuo bom conhecinto com Angular
           <br>
           <br>
           <br>
           Esse é meu portifólio desenvolvido com Angular, aqui você
           encontrará informações atualizadas sobre minha carreira, trabalho e projetos. Para ver mais informações sobre meus trabalhos visite a aba Serviços.
        </a>
    </div>
</div>